body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Raleway", sans-serif;
    letter-spacing: normal;
}

* {
    box-sizing: border-box;
}

.first-section {
    width: 100%;
    margin: 0;
    overflow: auto;
    background-image: url(../images/banner-box-nav.jpg);
    background-position: top;
    background-size: cover;
    padding-bottom: 350px;
    background-attachment: fixed;
}

.navigation {
    width: 100%;
    margin: 0;
    overflow: auto;
}

.navbar {
    width: 80%;
    margin: auto;
    overflow: auto;
    background-color: #fff;
    padding: 10px 0px;
    margin-top: 30px;
}

.list {
    float: left;
    width: 75%;
    margin: 0;
}

.navimage {
    float: left;
    width: 25%;
    margin: 0;
    padding: 5px 0px 5px 30px;
}

.list ul {
    padding: 0;
}

.list ul li {
    display: inline-block;
    margin: 0;
}

.list a {
    color: #212331;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 25px;
    text-decoration: none;
}

.list a:hover {
    color: #00bcd4;
    transition-duration: 0.3s;
}

.head-doc {
    text-align: center;
    margin: 0;
    transform: translateY(55%);
}

.head-doc h1 {
    color: #fff;
    font-size: 60px;
    line-height: 72px;
    margin: 0;
}

.doc1 {
    font-weight: 200;
}

.doc2 {
    font-weight: 700;
}

.head-doc h4 {
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
    padding-top: 20px;
}

.second-section {
    width: 100%;
    margin: 0;
    overflow: auto;
    overflow: visible;
}

.card-section {
    width: 80%;
    margin: auto;
    overflow: auto;
    transform: translateY(-45%);
    position: relative;
}

.card-size {
    width: 33.33%;
    float: left;
    margin: 0;
    text-align: center;
    display: table;
}

.card-blog {
    height: 200px;
    width: 100%;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    padding: 50px 20px;
}

.card-blog:hover {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.card-f {
    background-color: #00bcd4;
    transform: translateY(17px);
}

.card-s {
    height: 300px;
    background-color: #9bd230;
}

.card-icon {
    padding-bottom: 20px;
}

.font-icon {
    color: #fff;
    font-size: 25px;
}

.card-blog:hover .font-icon {
    transform: scale(1.5);

}

.doc-card h4 {
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    padding: 15px 0px;
}

.doc-card p {
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
    padding: 10px 0px;
}

.third-section {
    width: 100%;
    margin: 0;
    overflow: auto;
}

.service-section {
    width: 80%;
    margin: auto;
    overflow: auto;
    padding: 40px 0px;
}

.service-doc {
    width: 50%;
    float: left;
    margin: 0;
}

.service-doc h4 {
    color: #00bcd4;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
.service-image{
    width: 50%;
    float: left;
    margin: 0;
    padding-left: 50px;
}

.service-doc h2 {
    color: #212331;
    font-size: 56px;
    font-weight: 300;
    line-height: 67px;
    margin: 0;
}

.service-doc p {
    color: #a5a5a5;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    line-height: 21px;
    margin: 0;
    padding: 50px 0px 10px 0px;
}

.team-button {
    padding: 40px 0px;
}

.teambtn {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    border-style: none;
    padding: 17px 30px;
    background-color: #9bd230;
    border-radius: 100px;
}

.teambtn:hover {
    background-color: #00bcd4;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.mobilepng{
    height: 200px;
    width: 100%;
    margin: 0;
    transform: translateY(20%);
}
